<h2>Hello <%= "#{@user.username}" %></h2>
    
    <% @games.each_with_index do |game, index| %>
        <p><a href=<%="/games/#{game.slug}"%>>View <%="#{game.name}"%></a></p>
   
    <% end %>
        

    <br>

    <h4><a href="/games/new">Make a new game</a></h4>
    <br>
    

    <h5><a href="/logout">Log Out</a></h5>